.product-form {
  width: 30rem;
  min-width: 90%;
  margin: auto;
}
.form-control {
  margin: 1.5rem 0;
}
.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
  border: qpx solid #c7e22b;
  font: inherit;
  border-radius: 2px;
}
button {
  font: inherit;
  border: 1px solid#0011ff;
  color: #0011ff;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: #0011ff;
  color: white;
}
