<nav class="pagesnav">
    <ul class="pagesnav__pages">
        <li class="pagesnav__pages_item"><a class="{{#if isUsersListPage}}active{{/if}}" href="/">Users List</a>
        <li class="pagesnav__pages_item"><a class="{{#if isUserFormPage}}active{{/if}}" href="/userform">Users Form</a></li>
        </li>
    </ul>
</nav>