<main class="userform">
    <h1 class="userform__title">Add New User</h1>
    <form action="/userform/add" method="POST" class="userform__form">
        <div class="userform__form_field">
            <label for="username">Fill User Name</label>
            <input type="text" id="username" name="username">
        </div>
        <button type="submit">Add User</button>
    </form>
</main>